.altito h2{margin-top: 50px; 
} 
.altito  { min-width: 480px;
} 
#slider3, #slider4, #slider5, #slider6, #slider7, #slider8, #slider2 {
  position: relative;
  overflow: hidden;
  margin:    70px auto;
  border-radius: 4px;
    
}
.wrapsliders{display: flex;justify-content: space-around;
}

#slider3 ul, #slider4 ul, #slider5 ul, #slider6 ul, #slider7 ul, #slider8 ul, #slider2 ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider3 ul li, #slider4 ul li, #slider5 ul li, #slider3 ul li, #slider6 ul li, #slider8 ul li, #slider2 ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  text-align: center;
  line-height: 300px;
}  
.slider2_option3, .slider2_option4, .slider2_option5, .slider2_option6, .slider2_option7, .slider2_option8,  .slider2_option2  {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

#slider3 ul li img, #slider4 ul li img, #slider5 ul li img, #slider2 ul li img, #slider3 ul li img, #slider6 ul li img, #slider7 ul li img, #slider8 ul li img, #slider2 ul li img{
   width: 100%;height:270px;
  
}
@media screen and (max-width: 800px) {
 #slider3 ul li img, #slider4 ul li img, #slider5 ul li img, #slider2 ul li img, #slider3 ul li img, #slider6 ul li img, #slider7 ul li img, #slider8 ul li im8{
   width: 100%;height:380px;
 
}
.altito h2{;transform: translateX(20px);font-size: 50px;margin-top: 90px;  } 
    
.corremenu{transform: translateX(-25px);}
    
.wrapsliders{flex-direction: column;}
}  
/*--------------*/
     .ribbon { 
  display: block;
  position: a;
  overflow: hidden; 
}
.ribbon span {
  width: 150px;
  height: 34px;
  top: 20px;
  right:  -35px;
  position: absolute;
  display: block;
  background: #FF0000;
  color: #333;
  font-family: arial;
  font-size: 18px;
  color:white;
  text-align: center;
  line-height: 34px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}